<span style="color: {{ block.settings.color }}">
<p>Select options</p>

{% assign json_string = product.metafields.pp_options.pp_product_options %} 

{% comment %}
{% assign json_object = json_string | parse_json %}
{% endcomment %}

<input type="checkbox" name="pp_option_1" value=""><span id="pp-option-value"></span>
</span>

{% assign liquid_version = null %}
{% if shop.liquid_version %}{% assign liquid_version = shop.liquid_version %}
{% elsif parse_json %} {% comment %}parse_json filter introduced in 5.0{% endcomment %}
  {% assign liquid_version = '5.0+' %}
{% else %}
  {% assign liquid_version = 'Pre-5.0' %}
{% endif %}

 Current Liquid version: {{ liquid_version }}

{% render "app_snippet" %}
{% schema %}
  {
    "name": "pp-product-options",
    "target": "section",
    "stylesheet": "app.css",
    "javascript": "app.js",
    "settings": [
        { "label": "Color", "id": "color", "type": "color", "default": "#000000" }
    ]
  }
{% endschema %}
<script>
const option_object = JSON.parse('{{ json_string }}');
const html = " " + option_object.option_name + ': $' + option_object.price;
document.getElementById("pp-option-value").innerHTML = html;
</script>
